.Cards {
  border-style: solid;
  border: #2643aa;
  border-width: 1vh;
  margin: 3vh;
}

.catalogCard {
  background-color: #000000;
  color: white;
}

.valueTwo {
  width: 50vh;
  text-align: center;
}

.config {
  color: #949494;
  font-size: small;
  padding: 5%;
}

.buyBTN {
  background-color: #1f3fb3;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-top: 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vh;
}

.buyBTN {
  
}

.PixLogo {
  margin: 10px;
  width: 4vh;
  position: absolute;
  left: 30px;
}

.CardLogo {
  margin: 10px;
  width: 4vh;
  position: absolute;
  left: 30px;
}
