.Cards {
  display: flex;
  align-items: row;
  overflow-x: auto;
}

.Card {
  border: #2643aa;
  border-width: 1vh;
  margin: 3vh;
}

.catalogCard {
  background-color: #000000;
  color: white;
}

.config {
  color: #949494;
  font-size: small;
  padding: 3%;
}

.PixPay {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}

.PixLogo {
  margin-left: 14px;
  width: 4vh;
  left: 30px;
}

.CardPay {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}

.CardLogo {
  margin: 10px;
  width: 4vh;
  left: 30px;
}

.CardValue {
  width: 40vh;
  text-align: center;
}

.buyBTN {

}