.App {
  text-align: center;
  background-color: #161616;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header { 
  display: flex;
  background:linear-gradient(15deg,rgb(0, 0, 0),#1437b9);
  background-color: #132875;
  min-height: 15vh;
  min-width: 15vh;
  align-items: center;
  font-size: calc(10px + 2vmin);
  padding-left: 10vh;
}

.TN4Logo {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  height: 140px;
  width: 140px;
}

.SocialMedia {
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

/* .InstaLogo {
  margin: 0px;
  padding: 0px;
  display: flex;
  height: 30px;
  width: 30px;
}

.ZapLogo {
  margin: 0px;
  padding: 0px;
  display: flex;
  height: 30px;
  width: 30px;
} */

.Header-btn {
  display: 'flex';
  flex-direction: row;
  border-left: 10%;
  padding: 0px 95vh 0px 14vh;
  font-size: 100px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}

.App-body {
  background-color: #161616;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #132875;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}